
 header h2 {
    color: rgb(162,169,0);
    text-align: center;
    text-decoration: underline;
     font-size: 24pt;
}
body header div {

}
h2 {
   color: rgb(162,169,0);
    background-color: rgb(240,240,240);
    font-size: 18pt;
    text-decoration: underline;
}
body ul {
    list-style-image: url("img/pie_bullet.png");
}
.YC {
    background-color: rgb(253,255,159);
    background-size: initial;
    margin: 10px;
    font-style: italic;
}
body a {
    color: rgb(162,169,0);
}
.strike {
    text-decoration: line-through;
}