body {
background-color: dimgrey;
}
header span {
color: yellow;
}
header div {
width: 25%;
float: right;
}
footer h2 {
color: aquamarine;
}
footer ul {
color: white;
}
body h1 {
color: aquamarine;
}
body h2 {
color: aquamarine;
}
body ul {
color: white;
}
body ol {
list-style: revert;
color: white;
}
body {
font-family: "Arial Black";
color: white;
}
link :visited {
color: red;
}